In [48]:
class Line():
    def __init__ (self,coor1,coor2):
        self.coor1 = coor1
        self.coor2 = coor2
    
    def distance(self):
        x1,y1 = self.coor1
        x2,y2 = self.coor2
        return ((x1-x1)**2 + (y2-y1)**2)**0.5
    
    def slope (self):
        x1,y1 = self.coor1
        x2,y2 = self.coor2
        return (y2-y1)/(x2-x1)

In [14]:
coor1 = (2,3)
coor2 = (15,10)

l1 = Line(coor1,coor2)

In [15]:
l1.distance()

7.0

In [16]:
l1.slope()

0.5384615384615384

In [56]:
l1.coor1

(2, 3)

In [75]:
class Cylinder ():
    pi = 3.14

    def __init__ (self,radius=1,height=1):
        self.radius = radius
        self.height = height
        
    def volume (self):
        return self.pi*(self.radius)**2*self.height
    
    def surface_area (self):
        return (2*self.pi*self.radius*self.height)+(2*self.pi*(self.radius)**2)

In [76]:
my_cylinder = Cylinder(2,3)

In [77]:
my_cylinder.volume()

37.68

In [78]:
my_cylinder.surface_area()

62.8

In [79]:
#OOP challenge . Bank Account

In [111]:
class Bank_acc ():
    
    def __init__ (self, owner, balance=0):
        self.owner = owner
        self.balance = balance
    
    def __str__(self):
        return (f' Owner : {self.owner} \n Balance : {self.balance} rupees')
    
    def __len__(self):
        return (self.balance)
    
    def Deposit (self, depo_amt):
        self.balance = self.balance + depo_amt
        print('Deposit Accepted')
        
    def Withdraw (self, with_amt):
        if with_amt <= self.balance:
            self.balance -= with_amt
            print('Available Balance = {}'.format(self.balance))
            print('Withdraw successful.')
        else:
            print('Insufficient Balance.')

In [112]:
my_acc = Bank_acc("Anand",25000)

In [113]:
my_acc.balance

25000

In [114]:
my_acc.owner

'Anand'

In [115]:
my_acc.Deposit(100000)

Deposit Accepted

In [116]:
my_acc.balance

125000

In [117]:
my_acc.Withdraw(1000000)

Insufficient Balance.

In [118]:
print(my_acc)

 Owner : Anand
 Balance : 125000 rupees

In [1]:
class Line ():
    def __init__ (self,coor1,coor2):
        self.coor1 = coor1
        self.coor2 = coor2
    
    def distance (self):
        x1,y1 = self.coor1
        x2,y2 = self.coor2
        return ((x1-x1)**2 + (y2-y1)**2)**0.5
    
    def slope (self):
        x1,y1 = self.coor1
        x2,y2 = self.coor2
        return (y2-y1)/(x2-x1)

In [8]:
coordinate1 = (2,3)
coordinate2 = (12,10)

my_line = Line(coordinate1,coordinate2)

In [10]:
my_line.distance()

7.0

In [13]:
my_line.slope()

0.7

In [18]:
7//4

1

In [1]:
def greetings (name):
    print(f'The name passed to the function is {name}')

In [2]:
greetings('Jose')

The name passed to the function is Jose

In [ ]:
class Line ():
    def __init__ (self,coor1,coor2):
        self.coor1 = coor1
        self.coor2 = coor2
    
    def distance (self):
        x1,y1 = self.coor1
        x2,y2 = self.coor2
        return ((x2-x1)**2 + (y2-y1)**2)**0.5

In [5]:
class Line():
    def __init__ (self,coor1,coor2):
        self.coor1 = coor1
        self.coor2 = coor2
    
    def distance(self):
        x1,y1 = self.coor1
        x2,y2 = self.coor2
        return ((x2-x1)**2 + (y2-y1)**2)**0.5

In [15]:
coor1 = (2,3)
coor2 = (8,9)
res = Line(coor1,coor2)

In [16]:
res.distance()

8.48528137423857

In [17]:
def reverse_func(my_str):
    return my_str[::-1]

In [18]:
res = reverse_func("Anand")

In [19]:
res

'dnanA'

In [20]:
my_doc = "The return keyword allows you to actually save the result of the output of a function as a variable. The print() function simply displays the output to you, but doesn't save it for future use. Let's explore this in more detail"

"The return keyword allows you to actually save the result of the output of a function as a variable. The print() function simply displays the output to you, but doesn't save it for future use. Let's explore this in more detail"

In [24]:
%%writefile my_file.txt
Line1
Line2
Line3

Writing my_file.txt

In [31]:
my_file1 = open('my_file.txt','w+')

In [33]:
my_file1.seek(0)

0

In [34]:
my_file1.read()

''

In [38]:
#error  handling
try:
    f = open('Anand.txt','r')
    f.write("A new line added.")
except TypeError:
    print('Its a type error.')
except OSError:
    print('Its a OS error.')
finally:
    print('Everything is running fine.')

Its a OS error.
Everything is running fine.

In [40]:
#specific type of input from user
try:
    result = int(input("enter a number:"))
except:
    print('Error: Its not a integer.')
finally:
    print('End of try/except/finally.')

enter a number:word
Error: Its not a integer.
End of try/except/finally.

In [41]:
#continue option 
while True:
    try:
        res = int(input("Enter a number:"))
    except:
        print('Woops!! Its not a number.')
        continue
    else:
        print('Yes!!Thank you.')
        break
    finally:
        print('Every statement executed.')

Enter a number:q
Woops!! Its not a number.
Every statement executed.
Enter a number:e
Woops!! Its not a number.
Every statement executed.
Enter a number:12
Yes!!Thank you.
Every statement executed.

In [50]:
#Home-work for error handling
try:
    for i in ['a', 'b', 'c']:
        print(i + i)
except TypeError:
    print('Its a TypeError. We cannot perform multiplication of the characters.')
except:
    print('Its a error.')

aa
bb
cc

In [61]:
#problem2 using finally also
try:
    x = 5
    y = 0
    z = x/y
except ZeroDivisionError:
    print('Cannot divide with zero.\nDivisor should be other than zero.')
except SyntaxError:
    print('Check Syntax Once again.')
except:
    print("Error.")
finally:
    print('All done')

Cannot divide with zero.
Divisor should be other than zero.
All done

In [63]:
#ask for input as integer and return square of it. Also use except and finally if the ip isnt integer.
while True:
    try:
        res = int(input('Enter a number:'))
        print(f'The square of {res} is {res**2}')
    except:
        print("An error occured, please enter integer..")
        continue
    else:
        print('square done.')
        break
    finally:
        print('All done')

Enter a number:q
An error occured, please enter integer..
All done
Enter a number:4
The square of 4 is 16
square done.
All done

In [65]:
#same as above return the cube (practice)
while True:
    try:
        res = int(input('Enter the number:'))
        print(f'The cube of {res} is {res**3}')
    except:
        print("An error occured, please enter integer..")
        continue
    else:
        print("Cube calculated.")
        break
    finally:
        print("All done.")

Enter the number:12a
An error occured, please enter integer..
All done.
Enter the number:5
The cube of 5 is 125
Cube calculated.
All done.

In [68]:
text = "anand"
text.capitalize()

'Anand'

In [69]:
#decorators example
def new_decorator(original_func):
    def wrap_func ():
        print('Before')
        original_func()
        print('After')
    return wrap_func

In [70]:
@new_decorator
def needs_decorator ():
    print('I am decorated')

In [71]:
needs_decorator()

Before
I am decorated
After

In [72]:
#generators

In [92]:
def create_cubes(n):
    result = []
    for i in range(n):
        yield i**3

In [95]:
for item in create_cubes(10):
    print(item)

0
1
8
27
64
125
216
343
512
729

In [87]:
#generators fibo

In [88]:
def fibo (n):
    a = 0
    b = 1
    for i in range(n):
        yield a
        a,b = b,a+b

In [106]:
for num in fibo(5):
    print(num)

0
1
1
2
3

In [124]:
g = fibo(5)

In [125]:
meanings = {"Abuse":"To treat disrespectfully.","Grant":"To give permission","Tackle":"To handle the situation"}

In [128]:
print(meanings["Abuse"])

To treat disrespectfully.

In [129]:
from collections import namedtuple

In [130]:
Dog = namedtuple('Dog',['age','breed','name'])

In [131]:
sammy = Dog(age=5,breed='husky',name='Sammy')

In [135]:
sammy.name

'Sammy'

In [1]:
my_list = ["hello","how","are","you"]
for i in my_list:
    print(i)

hello
how
are
you