In [1]:
courses = ['History','Geography','Maths']

In [5]:
for index,item in enumerate(courses,start=-1):
    print(index,item)

-1 History
0 Geography
1 Maths

In [7]:
print(courses)

['History', 'Geography', 'Maths']

In [8]:
courses_str = ' - '.join(courses)

In [9]:
print(courses_str)

History - Geography - Maths

In [10]:
new_list = courses_str.split(' - ')

In [11]:
print(new_list)

['History', 'Geography', 'Maths']

In [18]:
student = {'Name':'Anand','Emp_code':'4029','Company':'Mirafra','Dept':['SWE','HWE','Validation']}

In [13]:
print(student)

{'Name': 'Anand', 'Emp_code': '4029', 'Company': 'Mirafra'}

In [14]:
print(student['Name'])

Anand

In [15]:
print(student['Emp_code'])

4029

In [16]:
print(student['Company'])

Mirafra

In [28]:
print(student['Dept'])

['SWE', 'HWE', 'Validation']

In [25]:
dept = ['SWE','HWE','Valid']
print(dept[0])

SWE

In [29]:
print(student)

{'Name': 'Anand', 'Emp_code': '4029', 'Company': 'Mirafra', 'Dept': ['SWE', 'HWE', 'Validation']}

In [30]:
student.update({'Name':'Arvind','Relation':'Father','City':'Aurangabad'})

In [31]:
print(student)

{'Name': 'Arvind', 'Emp_code': '4029', 'Company': 'Mirafra', 'Dept': ['SWE', 'HWE', 'Validation'], 'Relation': 'Father', 'City': 'Aurangabad'}

In [32]:
del student['Emp_code']

In [33]:
print(student)

{'Name': 'Arvind', 'Company': 'Mirafra', 'Dept': ['SWE', 'HWE', 'Validation'], 'Relation': 'Father', 'City': 'Aurangabad'}

In [34]:
del student['Company']

In [35]:
print(student)

{'Name': 'Arvind', 'Dept': ['SWE', 'HWE', 'Validation'], 'Relation': 'Father', 'City': 'Aurangabad'}

In [36]:
len(student)

4

In [40]:
print(student.items())

dict_items([('Name', 'Arvind'), ('Dept', ['SWE', 'HWE', 'Validation']), ('Relation', 'Father'), ('City', 'Aurangabad')])

In [43]:
for key, values in student.items():
    print(key,values)

Name Arvind
Dept ['SWE', 'HWE', 'Validation']
Relation Father
City Aurangabad

In [47]:
for key,value in student.items():
    print(key,value)

Name Arvind
Dept ['SWE', 'HWE', 'Validation']
Relation Father
City Aurangabad

In [51]:
list_1 = [1,2,3]
type(list_1)

list

In [55]:
print('I am anand')
print('I am studing python')

I am anand
I am studing python

In [56]:
'2'+'3'

'23'

In [57]:
2 + 3

5

In [62]:
x = 0
while x <= 10:
    print(x)
    x += 1

0
1
2
3
4
5
6
7
8
9
10

In [68]:
items = [1,2,3,4]
for j in items:
    for i in 'ABCD':
        if i == 'C':
            continue
        print (j,i)

1 A
1 B
1 D
2 A
2 B
2 D
3 A
3 B
3 D
4 A
4 B
4 D

In [77]:
def first_func():
    print("It works fine!!")
    
first_func()
first_func()

It works fine!!
It works fine!!

In [88]:
result = (input('Enter a string:'))

Enter a string:anand

In [89]:
print(result)

anand

In [90]:
type(result)

str

In [101]:
mylist = [x**2 for x in range(0, 10) if x%2!=0]

In [102]:
mylist

[1, 9, 25, 49, 81]

In [112]:
def new_entry(num1, num2):
    result = num1+num2
    print(f'Addition of {num1} and {num2} is {result}')

In [113]:
new_entry(10,20)

Addition of 10 and 20 is 30

In [114]:
def add_nums(a,b):
    return a+b

In [115]:
result = add_nums(10,20)

In [118]:
print(f'Addition is {result}')

Addition is 30

In [142]:
def even_check(my_list):
    even_nums = []
    for num in my_list:
        if num%2==0:
            even_nums.append(num)
        else:
            pass
    return even_nums

In [144]:
result = even_check([1,2,3,4,5,6,7,8,9,10])

In [145]:
print(result)

[2, 4, 6, 8, 10]

In [146]:
#Functions basics
def odd_finder(my_list):
    odd_nums = []
    for num in my_list:
        if num%2 != 0:
            odd_nums.append(num)
        else:
            pass
    return odd_nums

In [149]:
result = odd_finder([1,2,3,4,5,6,7,8,9,10,11])
print(result)

[1, 3, 5, 7, 9, 11]

In [151]:
stock_prices = [('Apple',300),('Google',200),('Msoft',100)]

In [165]:
print('After 10% hike') 
for tickers,value in stock_prices:
    print(f'{tickers},{value+(0.1*value)}')

After 10% hike
Apple,330.0
Google,220.0
Msoft,110.0

In [177]:
work_hrs = [('Abbie',100),('Shaggy',300),('Annie',350)]
def emp_hrs (work_hrs):
    max_hrs = 0
    emp_name = ''
    for name, hrs in work_hrs:
        if hrs > max_hrs:
            max_hrs = hrs
            emp_name = name
    return (emp_name, max_hrs)

In [178]:
name,hours = emp_hrs(work_hrs)

In [179]:
print(f'Employee of the month is {name} and has worked for {hours} hours')

Employee of the month is Annie and has worked for 350 hours

In [ ]:
"""costly car"""
def car_cost (my_tuple):
    model = ''
    cost = 0

In [181]:
print(name,hours)

Annie 350

In [186]:
s = "Hello"
print('M' + s[1:] )

Mello

In [189]:
s[::-1]

'olleH'

In [190]:
s

'Hello'

In [191]:
s.upper()

'HELLO'

In [193]:
print(f'My name is {name}')

My name is Annie

In [194]:
name

'Annie'

In [212]:
age = 26
print('My name is {} and my age is {}'.format(name, age))

My name is Annie and my age is 26

In [214]:
aage = '26'
print('My name is ' + name + ' and I am ' + aage + ' years old')

My name is Annie and I am 26 years old

In [211]:
print('They said there names are %r and %s.'%('ramesh','suresh'))

They said there names are 'ramesh' and suresh.

In [216]:
my_list = [1,2,3,'Name']

In [217]:
my_list.append('Anand')

In [218]:
my_list

[1, 2, 3, 'Name', 'Anand']

In [219]:
popped = my_list.pop()

In [220]:
popped

'Anand'

In [221]:
my_list

[1, 2, 3, 'Name']

In [222]:
my_list.reverse()

In [223]:
my_list

['Name', 3, 2, 1]

In [225]:
my_list.reverse()

In [226]:
my_list.pop()

'Name'

In [227]:
my_list.sort()

In [229]:
my_list.reverse()

In [235]:
my_list[::-1]

[1, 2, 3]

In [239]:
my_dict = {'Name':'Anand',"Emp_code":'4096','Address':'N-9,M-2,65/1'}

In [244]:
my_dict['Address'].lower()

'n-9,m-2,65/1'

In [245]:
d = {}

In [252]:
d['Animal1'] = 'Dog'

In [253]:
d['Habitate'] = 'Pet'

In [257]:
d.pop('Habitate')

'Pet'

In [262]:
d['Habitate'] = 'Pet'

In [263]:
d

{'Animal': 'Dog', 'Animal1': 'Dog', 'Habitate': 'Pet'}

In [264]:
d.keys()

dict_keys(['Animal', 'Animal1', 'Habitate'])

In [265]:
d.items()

dict_items([('Animal', 'Dog'), ('Animal1', 'Dog'), ('Habitate', 'Pet')])

In [266]:
d.values()

dict_values(['Dog', 'Dog', 'Pet'])

In [273]:
#its a tuple where object.count will give count of the number of times the argument has occured and object.index will give the index value.
t = [1,2,4,4,4]
print(t.index(2))
print(t.count(4))

1
3

In [280]:
#square root
sqr = 12**2

In [281]:
print(sqr)

144

In [286]:
s='hello'
s[4:]

'o'

In [289]:
my_list = [0]

In [291]:
my_list*3

[0, 0, 0]

In [292]:
#replace hello with goodbye
list3 = [1,2,[3,4,'hello']]
list3[2][2] = 'goodbye'

In [293]:
list3

[1, 2, [3, 4, 'goodbye']]

In [303]:
#sort the list
list4 = [5,3,4,6,1]
list4.sort()

In [304]:
list4

[1, 3, 4, 5, 6]

In [308]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [310]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [324]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
#updated = 
d['k1'][0]['nest_key'][1]

['hello']

In [323]:
#updated['nest_key'][1]

In [325]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [338]:
d['k1'][2]['k2'][1]['tough'][2]

['hello']

In [339]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
my_set = set(list5)

In [340]:
my_set

{1, 2, 3, 4, 11, 22, 33}

In [341]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

In [342]:
example = [1,7,2,4,10]
from random import shuffle

In [345]:
shuffle(example)

In [346]:
example

[2, 10, 1, 7, 4]

In [355]:
#5% of sum of a and b
def myfunc(a,b):
    return sum((a,b))*0.05

In [356]:
myfunc(40,60)

5.0

In [357]:
def myfunc (*args):
    return sum(args) * 0.05

In [358]:
myfunc (10,20,30,40)

5.0

In [359]:
def myfunc (a,b,c):
    return sum((a,b,c))*0.05

In [360]:
myfunc (10,20,30)

3.0

In [363]:
def myfunc (*args):
    for item in args:
        print(item)

In [364]:
myfunc (10,20,30)

10
20
30

In [371]:
type(myfunc)

function

In [372]:
def myfunc (*args, **kwargs):
    if 'food' in kwargs:
        print('I would like to have {} {}'.format(args[0],kwargs['food']))

In [373]:
myfunc (10,20,30,food = 'eggs',veggie = 'cabbage')

I would like to have 10 eggs

In [374]:
def myfunc (**kwargs):
    if 'foods' in kwargs:
        print("I would have {}".format(kwargs['foods']))

In [375]:
myfunc (fruit='apple',foods='puff')

I would have puff

In [383]:
def myfunc (*args, **kwargs):
    #if 'deserts' in kwargs:
        print('I can eat {}kgs of {}'.format(args[0], kwargs['fruits']))

In [384]:
myfunc (1,2,3,fruits='Apple',deserts='Cake')

I can eat 1kgs of Apple

In [394]:
def myfunc (my_list) :
    for i in my_list:
        if (my_list[int(i)] % 2) == 0:
            return my_list[i]

In [395]:
my_list

[0]

In [400]:
mylist = 'mirafra'

In [417]:
mylist[1::2].lower() + mylist[::2].upper()

'iarMRFA'

In [421]:
'amacdonald'.capitalize()

'Amacdonald'

In [428]:
def myfunc (name):
    new_name = []
    for i in range(len(name)):
        if i%2==0:
            new_name.append(name[i].upper())
        else:
            new_name.append(name[i].lower())
    return ''.join(new_name)

In [429]:
myfunc ("mirafra")

'MiRaFrA'

In [430]:
def myfunc (name):
    new_name = []
    for i in range(len(name)):
        if i==0 or i==3:
            new_name.append(name[i].upper())
        else:
            new_name.append(name[i])
    return ''.join(new_name)

In [432]:
myfunc ('macdonald')

'MacDonald'

In [477]:
tar = 'How are you'

In [478]:
var = tar.split(' ')

In [479]:
#for i in range(len(var)):
print(var)

['How', 'are', 'you']

In [480]:
def myfunc (var):
    for i in range(len(var)):
        new_list = [var[2], var[1], var[0]]
        #new_list.append(var[i])
    return ' '.join(new_list)

In [491]:
list(map(myfunc,var))

['w o H', 'e r a', 'u o y']

In [492]:
def myfunc (*args, **kwargs):
    if 'fruits' in kwargs or 'snacks' in kwargs:
        print('We accept orders of {} upto {} kgs and {} also upto {} kgs'.format(kwargs['fruits'], args[0], kwargs['snacks'],args[1]))
    else:
        print('We do not accept any party orders.')

In [451]:
myfunc (100,75,fruits='Fruits Salad', snacks='Tortella')

We accept orders of Fruits Salad upto 100 kgs and Tortella also upto 75 kgs

In [485]:
l = [1,2,3,4,5,6,7]
N = 4

for index in range(N):
    element = l.pop(0)
    #print(element)
    l.append(element)

print(l)

1
2
3
4
[5, 6, 7, 1, 2, 3, 4]

In [484]:
range(N)

range(0, 4)

In [486]:
def square (num):
    return num**2

In [494]:
mylist = [1,2,3,4,5]
list(map(square,mylist))
#for item in map(square,mylist):
#    print(item)

[1, 4, 9, 16, 25]

In [495]:
def splicer (mystring):
    if len(mystring)%2==0:
        return 'Even'
    else:
        return mystring[0]

mystring = ['Andy','Eve','Sabby']
list(map(splicer,mystring))

['Even', 'E', 'S']

In [519]:
def check_even (num):
    return num%2==0

In [524]:
list(filter(lambda num : num%2==0, var_list))

[2, 4, 6, 8]

In [512]:
var_list = [1,2,3,4,5,6,7,8]

In [513]:
#will return only those values which are returned true for the function. 
#list(filter(check_even,my_list))

In [515]:
for n in filter(check_even,var_list):
    print(n)

2
4
6
8

In [517]:
#we convert the function into a lambda expression and then use it.
list(map(lambda num : num**2, var_list))

[1, 4, 9, 16, 25, 36, 49, 64]

In [518]:
list(filter(check_even,var_list))

[2, 4, 6, 8]

In [3]:
ans = 19
guess = 1
print("Guess game!!!")
print("Guess a number.")
usr_in = int(input())
while (guess<=9):
    if ans == usr_in:
        print("You won!!")
    guess += 1

Guess game!!!
Guess a number.
19
You won!!
You won!!
You won!!
You won!!
You won!!
You won!!
You won!!
You won!!
You won!!