In [8]:
def myfunc (*args, **kwargs):
    if 'foods' in kwargs and 'fruits' in kwargs:
        print ('I will have {} {} and {} {}'.format(args[1], kwargs['foods'], args[2], kwargs['fruits']))
    else:
        print('No items found')

In [9]:
myfunc (10,2,3,fruit='Oranges',food='puffs')

No items found

In [12]:
def myfunc (*args):
    my_list = []
    i = 0
    for a in args:
        if a%2 == 0:
            my_list.append(a)
            i += 1
    return my_list

In [13]:
myfunc (10,2,5,7,8,12)

[10, 2, 8, 12]

In [51]:

def myfunc (my_list):
    new_list = []
    for i in range(len(my_list)):
        if i%2==0:
            new_list.append(my_list[i].lower())
        else:
            new_list.append(my_list[i].upper())
    return ''.join(new_list)

In [52]:
myfunc ('Anand')

'aNaNd'

In [58]:
#lesser of the two numbers ( warmup exercise)
def lesser_of_the_evens (a,b):
    if a>b:
        greater = a
        lesser = b
    else:
        greater = b
        lesser = a
    if a%2==0 and b%2==0:
        return lesser
    else:
        return greater

In [65]:
lesser_of_the_evens (2,4)

2

In [67]:
animal_crackers = ('Levelheaded Llama')

In [69]:
my_list = animal_crackers.split(' ')

In [72]:
my_list[1][0]

'L'

In [79]:
#ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter

def animal_crackers (my_str):
    new_list = my_str.split(' ')
    if new_list[0][0] == new_list[1][0]:
        return True
    else:
        return False

print(animal_crackers ('Levelheaded Llama'))
print(animal_crackers ('Cevelheaded Llama'))

True
False

In [83]:
#MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. 
#If not, return False

def makes_twenty (a,b):
    if sum((a,b)) == 20 or a==20 or b==20:
        return True
    else:
        return False

print(makes_twenty (10,20))
print(makes_twenty (1,2))
print(makes_twenty (1,20))

True
False
True

In [84]:
def myfunc (*args, **kwargs):
    return ('I will have {} {} and {} {}'.format(args[0], kwargs['fruits'], args[1], kwargs['deserts']))

In [85]:
myfunc (10,20,fruits='Pineapple',deserts='cake')

'I will have 10 Pineapple and 20 cake'

In [112]:
#OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name

def old_mac (my_name):
    new_name = []
    for i in range(len(my_name)):
        if i==0 or i==3:
            new_name.append(my_name[i].upper())
        else:
            new_name.append(my_name[i])
    return ''.join(new_name)

In [113]:
old_mac('macdonald')

'MacDonald'

In [130]:
#return a string where for every character in the original there are three characters
def myfunc (rec_str):
    new_str = []
    for i in range(len(rec_str)):
        new_str = rec_str[i]*3
        return ''.join(new_str)
        

myfunc ('OldSchool')

'OOO'

In [134]:
emt = set()

In [135]:
type(emt)

set

In [143]:
var_list = [1,2,3,4,5,6,7,8]

In [144]:
def check_even (num):
    return num%2==0

In [146]:
#list(filter(check_even,var_list))

[2, 4, 6, 8]

In [147]:
for n in filter(check_even,var_list):
    print(n)

2
4
6
8

In [151]:
#volume of the sphere
def vol_sphere (radius):
    pi = 3.14
    return 4/3 * pi * radius**3

vol_sphere (2)

33.49333333333333

In [154]:
#check if the given number is in the range

def check_range (num, low, high):
    if num > low and num < high:
        print(f'{num} is in between {low} & {high}')
    else:
        return 'Out of range'

check_range (9,2,7)

'Out of range'

In [156]:
#check if the given number is in the range (boolean returned)

def check_range (num, low, high):
    if num > low and num < high:
        return True
    else:
        return False

check_range (3,2,7)

True

In [183]:
name = "Anand"
for i in name:
    print(i)

A
n
a
n
d

In [190]:
def remove_duplicate (my_list):
    my_set = set(my_list)
    return list(my_set)

In [192]:
remove_duplicate (['Anand','Anand','Anand','Mirafra','Mirafra',"hyderabad",'Mirafra'])

['Anand', 'hyderabad', 'Mirafra']

In [194]:
#to check its a palindrome or not.
def palindrome (my_name):
    rev = my_name[::-1]
    if rev == my_name:
        return 'Its a palindrome'
    else:
        return 'Its not a palindrome'

In [197]:
palindrome("'helleh'")

'Its a palindrome'

In [200]:
#multiply all the numbers in the list
def multiply_all(my_list):
    for i in range(len(my_list)):
        count
    return count

In [201]:
multiply_all ([1,2,3,4])

AttributeError: 'list' object has no attribute 'split'

In [213]:
class Sphere():
    pi = 3.14
    def __init__(self,radius=1):
        self.radius = radius
        self.circumference = 2 * Sphere.pi * radius
    def area(self):
        return self.pi * (self.radius**3)

In [246]:
my_sphere = Sphere(2)

In [216]:
my_sphere.area()

25.12

In [217]:
my_sphere.circumference

12.56

In [218]:
4*3.14

12.56

In [219]:
class Animal():
    def __init__ (self):
        print('Animal Created')
        
    def who_am_i (self):
        print("I am an animal")
        
    def eat (self):
        print('I am eating')

In [237]:
class Dog(Animal):
    def __init__(self):
        Animal.__init__(self)
        print('Dog created')

In [240]:
mydog = Dog()

Animal Created
Dog created

In [244]:
mydog.who_am_i()

I am an animal

In [253]:
class Triangle ():
    pi = 3.14
    def __init__(self,s1,s2,s3):
        self.s1 = s1
        self.s2 = s2
        self.s3 = s3
        
        if s1==s2==s3:
            print(f'Triangle is equi with {self.s1} length of each side.')
        else:
            print('Not equi triangle')

In [255]:
my_tri = Triangle(10,10,10)

Triangle is equi with 10 length of each side.

In [259]:
len('A')

1

In [270]:
class Book():
    type = 'Hardcopy'
    def __init__(self,title,author,pages):
        self.title = title
        self.author = author
        self.pages = pages
    
    def __str__ (self):
        return (f'The book names {self.title} is written by author {self.author}')
    def __len__(self):
        return (self.pages)

In [274]:
my_library = Book("Python rocks","Jose",200)

In [275]:
Book.type

'Hardcopy'

In [276]:
my_library.author

'Jose'

In [277]:
my_library.pages

200

In [278]:
print(my_library)

The book names Python rocks is written by author Jose

In [281]:
my_library.title

'Python rocks'

In [1]:
for i in 'row':
    for j in 'column':
        if i==j:
            print('*')

*

In [10]:
def check_even (my_list):
    '''To check the number is even or odd'''
    for item in my_list:
        if item % 2 == 0:
            return f'{my_list} has {item} as first even occurance.'
        else:
            pass
    
    return f'{my_list} has no even member.'
my_res = check_even([1,3,5,7])

In [11]:
my_res

'[1, 3, 5, 7] has no even member.'

In [12]:
my_list = [1,3,4,5]

In [29]:
from random import shuffle
shuffle(my_list)

In [30]:
my_list

[4, 5, 1, 3]