In [1]:
list1 = ["Andy","Russell","Sachin"]

In [3]:
list2 = list(map(lambda x : x[::-1], list1))

In [5]:
print(list2)

['ydnA', 'llessuR', 'nihcaS']

In [9]:
fruits = ["kohli","sharma","DK"]
x,y,z = fruits

In [10]:
print(x)
print(y)
print(z)

kohli
sharma
DK

In [11]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [12]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [16]:
from random import randrange
num = random.randrange(10,50)
print(num)

28

In [15]:
from random import randint
num = random.randint(10,50)
print(num)

26

In [20]:
for x in "banana":
  print(x,end="")

b a n a n a

In [2]:
for x in range(len("banana")):
    print(x)

0
1
2
3
4
5

In [5]:
txt = "The best things in life are free!"
if "best" not in txt:
    print("Yes")
else:
    print("No")

No

In [6]:
a = "hello world"
print(a.upper())

HELLO WORLD

In [7]:
b = "Hello World"
print(b.lower())

hello world

In [46]:
str_1 = "AnanD"   #we need alternate caps and small with starting from small
op_str = []
for i,j in enumerate(str_1):
    if (i%2 == 0):
        op_str.append(str_1[i].lower())
    else:
        op_str.append(str_1[i].upper())
''.join(op_str)

'aNaNd'

In [34]:
str1 = "Anand"
str2 = list(str1)
#print(str2)
for i in range(len(str2)):
    print(str1[i])

A
n
a
n
d

In [67]:
str1 = "varma"
#new = str1.capitalize()
str1.index('a')
#str1.center(20,':')

#print(new)

1

In [69]:
x = 10
op = isinstance(x,int)
print(op)

True

In [73]:
my_list = [1,2,3,4,5,6]
for i in my_list:
    print(i)

1
2
3
4
5
6

In [77]:
thislist = ["apple", "banana", "cherry"]
for i,j in enumerate(thislist):
  print(f"{j} is the {i}th item")

apple is the 0th item
banana is the 1th item
cherry is the 2th item

In [79]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[2:5] = "watermelon","sachin","kohli"
print(thislist)

['apple', 'banana', 'watermelon', 'sachin', 'kohli', 'mango']

In [82]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
for i in range(len(thislist)):
    print(i)

0
1
2
3
4
5

In [91]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
i = len(thislist)-1
while i >= 0:
    print(thislist[i])
    i -= 1

mango
kiwi
orange
cherry
banana
apple

In [94]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
new_list = [(x + " " + "fruit") for x in thislist ]

In [95]:
print(new_list)

['apple fruit', 'banana fruit', 'cherry fruit', 'orange fruit', 'kiwi fruit', 'mango fruit']

In [96]:
list_1 = [1,2,3,4,5,5,5,5]
print(list_1)

[1, 2, 3, 4, 5, 5, 5, 5]

In [97]:
tup = (1,2,3,4,4,4)
print(tup)

(1, 2, 3, 4, 4, 4)

In [98]:
set_1 = {1,1,2,2,3,4}
print(set_1)

{1, 2, 3, 4}

In [104]:
str_1 = "POOJA"
str_1.lower()

print(str_1)

POOJA

In [108]:
list_1 = [1,2,3,4,5,5,5,5]
list_1.append(100)
print(list_1)

[1, 2, 3, 4, 5, 5, 5, 5, 100]

In [107]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [1]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [2]:
thislist = ["apple", "banana", "cherry"]
new_list = list(thislist)
print(type(new_list))

<class 'list'>

In [9]:
thisset = {"apple", "banana", "cherry"}
thislist[1] = "kiwi"
print(thislist)

['apple', 'kiwi', 'cherry']

In [10]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'banana', 'cherry', 'apple', 'kiwi', 'orange'}

In [19]:
thisset = {"apple", "banana", "cherry"}
while(1):
    print(thisset[1])

In [30]:
q = lambda x: (x*x)+10
list_1 = [1,2,3,4,5]
for i in list_1:
    print(q(i))

11
14
19
26
35